<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icon"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo"
        tools:targetApi="31">
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Home_Task_Todo"
            android:exported="false" />
        <activity
            android:name=".Login_Sign_Google"
            android:exported="false" />
        <activity
            android:name=".Login_Sign_Facebook"
            android:exported="false" />
        <activity
            android:name=".Login_Email_ToDo"
            android:exported="false" />
        <activity
            android:name=".Recover_Login_ToDo"
            android:exported="false" />
        <activity
            android:name=".Recover_Password_ToDo"
            android:exported="false" />
        <activity
            android:name=".New_Password_ToDo"
            android:exported="false" />
        <activity
            android:name=".Login_ToDo_P"
            android:exported="false" />
        <activity
            android:name=".Login_Google_P"
            android:exported="false" />
        <activity
            android:name=".Login_Facebook_P"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>